/* Color Variables */

$font-color: #262626;
$section-color: #f2f2f2;
$background-color: #5DDF72;
$dark-background-color: #333333;

/* Font Variables */

$title-font: 'Raleway',
sans-serif;
$serif-font: 'Roboto',
sans-serif;

/* breakpoint variables */
$mobile: 'min-width: 400px';
$tablet: 'min-width: 768px';
$desktop: 'min-width: 1024px';
